<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>try</title>
    <!--<style>
    body
    {
    height:100%
    display:flex;
    overflow-x:auto;
    flex-direction:rows;
    }
   .test
    {
    border:20;
    background-color:#4CAF50;
    float:right;
    flex:0.2;
    height:10%
    border-bottom: 2px solid red;
    padding: 10px;
    margin: auto;
    }
    .test1
    {
    flex:0.8;
    height:90%
    align-content:center;
    background-color:lightblue;
    }
    </style>-->
    <style>
    embed
    {
    height:90%;
    width:90%;
    }
    </style>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
     <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript">
    var s=0;
    var height=window.innerHeight;
    var width=window.innerWidth;
    var m={{value}};
    function begin()
    {
    document.getElementById("d0").style.display="block";
    document.getElementById("d0").style.height=height*1+"px";
    document.getElementById("d0").style.width=width*0.98+"px";
    }
    function next()
    {
    if(s==m-1)
    {
        return;
    }
    document.getElementById("d"+s).style.display="none";
    s+=1;
    document.getElementById("d"+s).style.display="block";
    document.getElementById("d"+s).style.height=height*1+"px";
    document.getElementById("d"+s).style.width=width*0.98+"px";

    }

    function back()
    {
    if(s==0)
    {
        return;
    }
    document.getElementById("d"+s).style.display="none";
    s-=1;
    document.getElementById("d"+s).style.display="block";
    document.getElementById("d"+s).style.height=height*1+"px";
    document.getElementById("d"+s).style.width=width*0.98+"px";
    }

    $(document).on("pagecreate","#pageone",function(){
    $("body").on("swipeleft",function(){
    return back();
     });
     });


    $(document).on("pagecreate","#pageone",function(){
    $("body").on("swiperight",function(){
        return next();
     });
     });
    </script>
</head>
<body onload="begin()" id="pageone">
    {% for var in range(value) %}
        <div id="d{{var}}" style="display:none;text-align:center;">
            <embed src="{{url_for('static',filename=li[var])}}" type="application/pdf"></embed>
        </div>
    {% endfor %}

</body>
</html>
